{% extends "base.html" %}
{% block title %}Add Note{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="#" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/myindex.css') }}">
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/addNote.css') }}">
<script type='text/javascript' src="{{ url_for('static',filename='js/addNote.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static',filename='js/all.js') }}"></script>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message[0] }}">
    {{ message[1] }}
    <span type="button" class="close" data-dismiss="alert">&times;</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class=" col-lg-6 col-md-8">
            <div class="card p-3">
                <form class="form-card" action="/addNote/{{ pet_id }}" method="POST" enctype="multipart/form-data">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="input-group"> <input type="text" id="cr_no" name="title" maxlength="50" required> <label>Title</label> </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="input-group"> <input type="date" id="cr_no" name="date" required> <label>Date</label> </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <label>Content</label>
                            <div class="input-group"> <textarea id="cr_no" name="content"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                        <div class="image-upload-wrap">
                            <input type='file' name="file" class="file-upload-input" onchange="readURL(this);" accept="image/*" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image" src="#" alt="your image" />
                            <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="submit-btn" value="Submit"></input>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}